.text{
    padding-top: 2rem; 
    justify-content: center; 
    text-align: center;
}

.image{
    height: 40rem; border-radius: 15px;
}

.icon{
    width: 50%;
    margin-left: 27%;
}

.tittleH2{
    text-align: center; font-size: 3rem;
}

a{
    color:cadetblue; font-size: 1.5rem;
}

*{
    box-sizing: border-box;
}

.character-images{
    flex: auto;
}

.columna {
    float: left;
    width: 33.3%;
    padding-right: 5px;
}

.fila::after {
    content: "";
    clear: both;
    display: table;
}