.text{
    padding-top: 2rem; 
    justify-content: center; 
    text-align: center;
}

.image{
    height: 40rem; border-radius: 15px;
}

.icon{
    width: 50%;
    margin-left: 27%;
    border-radius: 100%;
}

.tittleH2{
    text-align: center; font-size: 3rem;
}

a{
    color:cadetblue; font-size: 1.5rem;
    text-decoration: none;
}

*{
    box-sizing: border-box;
}

.character-images{
    flex: auto;
}

.columna {
    float: left;
    width: 33.3%;
    padding-right: 5px;
}

.fila::after {
    content: "";
    clear: both;
    display: table;
}

body{ font-family: sans-serif; width: 450px; margin: auto;}

#galeria{ width: 400px;}

nav ul{ list-style:none; padding-left: 0; 
 display:flex;
}

nav ul li a img{
 width: 100px;
 opacity:50%;
 transition:0.3s;
 filter:grayscale(50%);

 
 &:hover{ opacity:100%;  margin-top:-5px;  filter:grayscale(0%);
  box-shadow: 0 4px 8px rgba(0,0,0,.3)
}
 &:active{transform:scale(0.8)}
 
}

